<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Test Web App</title>
    <script src="../Scripts/jquery/jquery.js"></script>
    <script src="../Scripts/testjquery.js"></script>
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/angular/angular.min.js"></script>
    <script src="Scripts/MyAngular.js"></script>
</head>

<body ng-app="myapp">
    My Test Web App
    <div ng-controller="hellocontroller">
        <table class="table table-responsive caption">
            <tr>
                <td>Name </td>
                <td>{{ Name }}</td>
            </tr>
            <tr>
                <td>Content </td>
                <td>{{ content }}</td>
            </tr>
        </table>
        <input type="text" id="txtContent" ng-model="content" />
        <input type="button" id="btnGetData" value="Get Data" />
        <input type="button" id="btnTest" value="Angular Test" ng-click="callwebapi()"/>
    </div>
</body>
</html>